<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>YOUR BILL- Please Pay</h1>

  <table border="1">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>

    {% for item in cart %}
      <tr>
        <td>{{item["name"]}}</td>
        <td>{{item["quantity"]}}</td>
        <td>{{item["prices"]}}</td>
      </tr>
    {% endfor %}
  </table>

  <h2>TOTAL AMOUNT:= {{amount}}</h2>

  <a href="{{url_for('store')}}">Continue Shopping!!!</a>
</body>
</html>