<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>SHOPPING CART APP</h1>

  <form action="{{url_for('store')}}" method="POST">
    EGGS <input type="number" name="eggs" min="0" value="0"><br><br>
    MILK <input type="number" name="milk" min="0" value="0"><br><br>
    BREAD <input type="number" name="bread" min="0" value="0"><br><br>

    <input value="ADD TO CART" type="submit"><br>
  </form><br><br>
  
  <a href="{{url_for('cart')}}">View Your Shopping List</a><br>
</body>
</html>