<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>ITEMs APP</h1>

  <h3>{{msg}}</h3>

  <form action="{{url_for('index')}}" method="POST">
    <input type="text" name="item1" placeholder="ITEM1">
    <input type="text" name="price1" placeholder="PRICE"><br><br>

    <input type="text" name="item2" placeholder="ITEM 2">
    <input type="text" name="price2" placeholder="PRICE"><br><br>

    <input type="text" name="item3" placeholder="ITEM 3">
    <input type="text" name="price3" placeholder="PRICE"><br><br>

    <input type="submit" name="PAY" value="Pay">
  </form>
</body>
</html>