<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table border="1">
    <tr>
      <th>NAME</th>
      <th>QUANTITY</th>
      <th>PRICE</th>
    </tr>
    
    <tr>
      {% for item in cart %}
        <td>{{item["name"]}}</td>
        <td>{{item["quantity"]}}</td>
        <td>{{item["price"]}}</td>
      {% endfor %}
    </tr>
    
  </table>

  <h3>Total Bill = Rs{{amount}}</h3>

  <a href="{{url_for('store')}}">Continue Shopping</a>
</body>
</html>